@use '../../styles/variables' as *;

.regions {
    margin-top: 40px;
    margin: 0 auto;

    &__content {
        padding: 5px;
    }

    &__name {
        @include h1();
        margin-bottom: 20px;
        text-align: center;
    }

    &__map {
        max-width: 600px;
        margin: 0 auto 20px;
        height: auto;
        display: block;

        svg {
            width: 100%;
            height: auto;
        }
    }

    &__capital,
    &__population,
    &__area,
    &__historyName,
    &__economy,
    &__geography,
    &__tourism,
    &__notablePeople,
    &__briefHistory,
    &__interestingFacts {
        text-align: justify;
        padding: 3px;
        @include body-text;

        a {
            @include body-text;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }

                h2 {
            @include h3();
            text-align: center;
            margin: 20px 0 10px;
        }
    }

        &__symbols {
        .symbol-item {
            display: flex;
            gap: 20px;
            align-items: flex-start;
            margin-bottom: 30px;
            @include body-text;
            text-align: justify;
        }

        img {
            width: 150px;
            flex-shrink: 0;
        }

        h2 {
            @include h3();
            text-align: center;
            margin: 20px 0 10px;
        }

        .symbol-content {
            flex: 1;
        }
    }

    &__photo {
        max-width: 350px;
        height: auto;
        border-radius: 8px;
        margin: 10px 0 10px 10px;
        float: right;

        &--right {
            float: left;
            margin: 10px 10px 10px 0;
        }
    }

    &__sidebar {
        float: left;
        width: 230px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: var(--color-sidebar-bg);
        margin: 0 20px 20px 0;
        color: var(--color-sidebar-text);

        &-toggle {
            display: none;
            cursor: pointer;
            font-size: 24px;
            padding: 10px;
            user-select: none;
        }

        &-title {
            @include h3();
            padding: 5px;
            font-size: 18px;
        }

        &-list {
            list-style: none;
            display: block;
            text-align: left;
            gap: 0.5rem;
            padding: 2px;

            li {
                padding: 6px;
                transition: all 0.2s ease;
            }
        }

        &-link {
            text-decoration: none;
            @include bold-text;
            display: block;
            padding: 6px 10px;
            border-radius: 6px;
            transition: all 0.2s ease; // плавный переход
            color: inherit;

            &:hover {
                text-decoration: none;
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); // "всплытие"
                transform: translateY(-3px); // приподнятие
                background-color: rgba(0, 0, 0, 0.05); // лёгкое выделение фона
            }

            &--disabled {
                cursor: default;
                color: gray;
                text-decoration: none;
            }
        }
    }
}

// На мобильных убираем
@media (max-width: 768px) {

    .regions__photo,
    .regions__photo--right {
        display: none;
    }

    .regions__sidebar-toggle {
        display: block; // показываем кнопку
    }

    .regions__sidebar {
        &> :not(.regions__sidebar-toggle) {
            display: none;
        }

        &.mobile-open> :not(.regions__sidebar-toggle) {
            display: block;
        }
    }
}