@use '../../styles/variables' as *;

.regions {
    margin-top: 40px;
    margin: 0 auto;

    &__content {
        padding: 5px;
    }

    &__title {
        @include h1();
        margin-bottom: 20px;
        text-align: center;
    }

    &__map {
        max-width: 600px;
        margin: 0 auto 20px;
        height: auto;
        display: block;

        svg {
            width: 100%;
            height: auto;
        }
    }

    &__capital,
    &__population,
    &__area,
    &__history,
    &__economy,
    &__culture,
    &__geography,
    &__cities,
    &__rivers,
    &__tourism,
    &__notablePeople,
    &__history,
    &__symbols,
    &__interestingFacts {
        text-align: justify;
        padding: 3px;

        &-bold {
            @include bold-text;
        }

        &-text {
            @include body-text;
        }

        &-title {
            @include h3();
            padding: 20px;
            text-align: center;
        }

        &-item {
            display: flex;
            align-items: flex-start;
            gap: 10px;
            margin-bottom: 15px;
        }

        img {
            max-width: 200px;
        }
    }

    &__foto {
        max-width: 300px;
        height: auto;
        border-radius: 8px;
        margin: 10px 0 10px 10px;
        float: right;

        &--right {
            float: left;
            margin: 10px 10px 10px 0;
        }
    }

    &__sidebar {
        float: left;
        width: 230px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: var(--color-sidebar-bg);
        margin: 0 20px 20px 0;
        color: var(--color-sidebar-text);

        &-toggle {
            display: none;
            cursor: pointer;
            font-size: 24px;
            padding: 10px;
            user-select: none;
        }

        &-title {
            @include h3();
            padding: 5px;
            font-size: 18px;
        }

        &-list {
            list-style: none;
            display: block;
            text-align: left;
            gap: 0.5rem;
            padding: 2px;

            li {
                padding: 6px;
                transition: all 0.2s ease;
            }
        }

        &-link {
            text-decoration: none;
            @include bold-text;
            display: block;
            padding: 6px 10px;
            border-radius: 6px;
            transition: all 0.2s ease; // плавный переход
            color: inherit;

            &:hover {
                text-decoration: none;
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); // "всплытие"
                transform: translateY(-3px); // приподнятие
                background-color: rgba(0, 0, 0, 0.05); // лёгкое выделение фона
            }

            &--disabled {
                cursor: default;
                color: gray;
                text-decoration: none;
            }
        }
    }
}

// На мобильных убираем
@media (max-width: 768px) {

    .regions__foto,
    .regions__foto--right {
        display: none;
    }

    .regions__sidebar-toggle {
        display: block; // показываем кнопку
    }

    .regions__sidebar {
        &> :not(.regions__sidebar-toggle) {
            display: none;
        }

        &.mobile-open> :not(.regions__sidebar-toggle) {
            display: block;
        }
    }
}