@use '../../styles/variables' as *;

.country {
    margin-top: 40px;

    &__content {
        padding: 5px;
    }

    &__map {
        max-width: 600px;
        margin: 0 auto;
    }

    &__breadcrumbs {
        margin-bottom: 15px;
    }

    &__title {
        @include h1();
        margin-bottom: 20px;
        text-align: center;
    }

    &__capital,
    &__geography,
    &__population,
    &__languages,
    &__administrative,
    &__government,
    &__currency,
    &__transport,
    &__climate,
    &__tourism,
    &__cuisine,
    &__entry {
        text-align: justify;
        padding: 3px;

        &__bold {
            @include bold-text;
        }

        &__text {
            @include body-text;
        }
    }

    &__history,
    &__symbols,
    &__holidays {

        &-title {
            @include h3();
            padding: 20px;
            text-align: center;
        }

        &-text {
            @include body-text;
            text-align: justify;
        }

        &-bold {
            @include bold-text;
            text-align: justify;
        }

        &-item {
            display: flex;
            align-items: flex-start;
            gap: 10px;
            margin-bottom: 15px;
        }

        &-img {
            max-width: 100px;
            height: auto;
            flex-shrink: 0;
            transition: box-shadow 0.3s ease;

            [data-theme='dark'] & {
                box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
                border-radius: 8px;
            }

            &:hover {
                box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
            }
        }
    }

    &__photo {
        max-width: 300px;
        height: auto;
        border-radius: 8px;
        margin: 10px 0 10px 10px;
        float: right;

        &--right {
            float: left;
            margin: 10px 10px 10px 0;
        }
    }

    &__history-text {
        text-align: justify;
        margin-bottom: 15px;
    }

    &__history-img {
        float: left;
        max-width: 300px;
        height: auto;
        margin: 10px 10px 10px 0;
        border-radius: 8px;
    }

    &__sidebar {
        float: left;
        width: 230px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: var(--color-sidebar-bg);
        margin: 0 20px 20px 0;
        color: var(--color-sidebar-text);

        &-toggle {
            display: none;
            cursor: pointer;
            font-size: 24px;
            padding: 10px;
            user-select: none;
        }

        &-title {
            @include h3();
            padding: 5px;
        }

        &-list {
            list-style: none;
            display: block;
            text-align: left;
            gap: 0.5rem;
            padding: 2px;

            li {
                padding: 6px;
                transition: all 0.2s ease;
            }
        }

        &-link {
            text-decoration: none;
            @include bold-text;
            display: block;
            padding: 6px 10px;
            border-radius: 6px;
            transition: all 0.2s ease; // плавный переход
            color: inherit;

            &:hover {
                text-decoration: none;
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); // "всплытие"
                transform: translateY(-3px); // приподнятие
                background-color: rgba(0, 0, 0, 0.05); // лёгкое выделение фона
            }

            &--disabled {
                cursor: default;
                color: gray;
                text-decoration: none;
            }
        }
    }
}


@media (max-width: 768px) {

    .country__photo,
    .country__photo--right,
    .country__history-img {
        display: none;
    }

    .country__sidebar-toggle {
        display: block; // показываем кнопку
    }

    .country__sidebar {
        &> :not(.country__sidebar-toggle) {
            display: none;
        }

        &.mobile-open> :not(.country__sidebar-toggle) {
            display: block;
        }
    }
}

@media (max-width: 500px) {
    .country__breadcrumbs {
        display: block;
    }
}