@use '../../styles/variables' as *;

.district{
    margin-top: 40px;

        &__title {
        @include h1();
        margin-bottom: 20px;
        text-align: center;
    }

    &__history,
    &__area,
    &__population {
        text-align: justify;
        padding: 3px;

        &-bold {
            @include bold-text;
        }

        &-text {
            @include body-text;
        }
    }
}