@use '../../styles/variables' as *;

.district {
    margin-top: 40px;

    &__title {
        @include h1();
        margin-bottom: 20px;
        text-align: center;
    }

    &__map {
        max-width: 1000px;
        margin: 0 auto; // центрируем блок
        display: block; // чтобы SVG растягивался нормально
    }

    &-gerb {
      max-width: 200px;
      float: right;
      padding: 8px;

      img {
        width: 100%;
        height: auto;
        display: block;
      }

    }

    &__history,
    &__area,
    &__population,
    &__districts,
    &__cities {
        text-align: justify;
        padding: 3px;

        &-bold {
            @include bold-text;
        }

        &-text {
            @include body-text;
        }
    }
}