@use '../../styles/variables' as *;

.district {
    margin-top: 40px;

    &__name {
        @include h1();
        margin-bottom: 20px;
        text-align: center;
    }

    &__map {
        max-width: 1000px;
        margin: 0 auto; // центрируем блок
        display: block; // чтобы SVG растягивался нормально
    }

    &__photo {
      max-width: 250px;
      float: right;
      padding: 8px;

      img {
        width: 100%;
        height: auto;
        display: block;
      }

    }

    &__area,
    &__population,
    &__capital,
    &__geography,
    &__districts,
    &__cities {
        text-align: justify;
        padding: 3px;

    p {
      margin: 0;
      @include body-text;
    }

    strong {
      @include bold-text;
    }


    }
}