.map-container {
  width: 100%;
  height: auto;
  margin: 0 auto;

  svg {
    width: 100%;
    height: auto;

    .map-shape {
      [data-theme='light'] & {
        filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.7));
      }

      [data-theme='dark'] & {
        filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.8));
      }
    }

    path {
      fill: #d9e6f2;
      stroke: #333;
      transition: fill 0.3s, stroke-width 0.3s, filter 0.3s;

      // Светлая тема → тёмная тень
      [data-theme='light'] & {
        filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
      }

      // Тёмная тема → светлое свечение
      [data-theme='dark'] & {
        filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.6));
      }

      &.interactive {
        cursor: pointer;

        &:hover {
          fill: #6ca0dc;
          stroke-width: 2;
        }
      }

      &.disabled {
        cursor: default;

        &:hover {
          stroke-width: 2;
          stroke: #999;
        }
      }
    }

    text {
      // font-size: 14px; 
      font-weight: 700;
      fill: #0d3b66;
      text-anchor: middle; // по центру
      pointer-events: none; // чтобы не мешали клику на path
    }

    .map-label {
      font-size: 4px; 
    }
  }
}

.koln-map svg .map-shape path {
  filter: none; // внутренние патчи
}

.koln-map svg .map-shape path.outer {
  filter: drop-shadow(0 0 8px rgba(0,0,0,0.7));
}