.forma {
    max-width: 800px;

    .name,
    .id,
    .short_description,
    .description,
    .type,
    .country,
    .region,
    .district,
    .city,
    .foto,
    .subObjects,
    .meta {
        margin: 10px;
        text-align: left;
        padding: 10px;

        input {
            width: 100%;
            padding: 8px;
        }

        label {
            margin-right: 5px;
        }

        select {
            width: 60%;
            padding: 8px;
        }

        &-bold {
            width: 100%;
            padding: 8px;
            margin-bottom: 5px;
        }

        &-textarea {
            width: 100%;
            padding: 10px;
        }
    }

    .child-question,
    .show-more-question,
    .unesco,
    .official-site {
        margin: 10px;
        text-align: left;
        padding: 10px;

        label {
            margin-right: 5px;
        }

        input {
            padding: 8px;
        }
    }

    .path {
        border: 5px solid #ccc;
    }

    .required {
        color: red;
    }

    .note {
        font-size: 11px;
        color: rgba(44, 11, 233, 0.904);
    }

    .prev {
        margin: 10px;
        padding: 10px;
        text-align: left;
        font-size: 14px;
    }

    button {
        padding: 10px;
        border-radius: 5px;
    }

    .clear-copy {
        display: flex;
        gap: 20px;
    }
}