@use '../../styles/variables' as *;

.header {
  padding: 10px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__topMenu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;

    &-lang {
      display: flex;
      align-items: center;

      span {
        @include body-text();
        padding-right: 10px;
      }
    }
  }

  &__image {
    width: 100%;
    border-radius: 0 0 10px 10px;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__lowerMenu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 12px 10px 0;
  }

  @media (max-width: 768px) {
    padding-bottom: 10px;

    &__topMenu {
      flex-direction: column;
      gap: 10px;
    }

    &__lowerMenu {
      justify-content: center;
    }

    &__image {
      margin: 5px 0;
    }
  }
}