@use '../../styles/variables' as *;

.header {
  padding: 20px;

  &__title {
    @include h1();
    margin: 60px;
    text-align: center;
  }

  &__menu {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    &-theme {
      display: flex;
      justify-content: space-between;
    }


    &-lang {
      display: flex;
      justify-content: space-between;
      padding-left: 160px;
    }

    &-search {
      display: flex;
      justify-content: space-between;
    }
  }
}