@use '../../../styles/variables' as *;

.nrw {
    margin-top: 40px;

    &__content {
        padding: 5px;
    }

    &__title {
        @include h1();
        margin-bottom: 20px;
        text-align: center;
    }

    &__capital,
    &__population,
    &__area,
    &__history,
    &__economy,
    &__geography,
    &__cities,
    &__rivers,
    &__tourism {
        text-align: justify;
        padding: 3px;

        &__bold {
            @include bold-text;
        }

        &__text {
            @include body-text;
        }
    }

    &__history,
    &__symbols {
        &-title {
            @include h3();
            padding: 20px;
            text-align: center;
        }

        &-text {
            @include body-text;
            text-align: justify;
        }

        &-bold {
            @include bold-text;
            text-align: justify;
        }

        &-item {
            display: flex;
            align-items: flex-start;
            gap: 10px;
            margin-bottom: 15px;
        }

        &-img {
            max-width: 100px;
            height: auto;
            flex-shrink: 0; // чтобы картинка не сжималась
        }
    }

    &__foto {
        max-width: 300px;
        height: auto;
        border-radius: 8px;
        margin: 10px 0 10px 10px;
        float: right;

        &--right {
            float: left;
            margin: 10px 10px 10px 0;
        }
    }

    &__history-text {
        text-align: justify;
        margin-bottom: 15px;
    }

    &__sidebar {
        float: left;
        width: 230px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: var(--color-sidebar-bg);
        margin: 0 20px 20px 0;

        &-title {
            @include h3();
            padding: 5px;
            font-size: 18px;
        }

        &-list {
            list-style: none;
            display: block;
            text-align: left;
            gap: 0.5rem;
            padding: 2px;

            li {
                padding: 6px;
                transition: all 0.2s ease;
            }
        }

        &-link {
            text-decoration: none;
            @include bold-text;
            display: block;
            padding: 6px 10px;
            border-radius: 6px;
            transition: all 0.2s ease; // плавный переход
            color: inherit;

            &:hover {
                text-decoration: none; 
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); // "всплытие"
                transform: translateY(-3px); // приподнятие
                background-color: rgba(0, 0, 0, 0.05); // лёгкое выделение фона
            }

            &--disabled {
                cursor: default;
                color: gray;
                text-decoration: none;
            }
        }
    }
}

// На мобильных убираем
@media (max-width: 768px) {

    .germany__castle,
    .germany__castle--right,
    .germany__history-img {
        display: none;
    }
}