@use '../../styles/variables' as *;

.footer {
  background-color: var(--color-sidebar-bg);
  display: flex;
  justify-content: space-between;
  padding: 16px 24px; 
    border-top-left-radius: 16px;
  border-top-right-radius: 16px;

  .footer_founders {
    @include body-text;
  }

  .fooer_map {
    a {
      text-decoration: none;
      @include body-text;
    }
  }

  @media (max-width: 480px) {
    flex-direction: column; 
    align-items: flex-start;

    .footer_founders {
      margin-bottom: 8px; 
      @include small-text;
    }

    .fooer_map a {
      @include small-text;
    }
  }
}